@page "/UserLogin"
@using Microsoft.AspNetCore.Authorization

<div class="row">
    <div class="col-md-4">
        <section>
            <EditForm Model="UserLoginModel" FormName="LoginForm" autocomplete="off" OnValidSubmit="OnLoginFormSubmit">
                <h2>User Login</h2>
                <hr />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="UserLoginModel.Email" placeholder="Email" class="form-control"></InputText>
                    <label class="form-label">Email</label>
                    <ValidationMessage For="() => UserLoginModel.Email" class="text-danger"></ValidationMessage>
                </div>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="UserLoginModel.Password" type="password" placeholder="Password" class="form-control"></InputText>
                    <label class="form-label">Password</label>
                    <ValidationMessage For="() => UserLoginModel.Password" class="text-danger"></ValidationMessage>
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
            </EditForm>
        </section>
    </div>
</div>