@page "/Logout"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
<h3>Logout</h3>

@code {
    

    
    private void A() {

    }

    [CascadingParameter]
    public HttpContext _httpContext { get; set; } = default!;

    [Inject]
    public NavigationManager _navigationManager { get; set; }

    protected override Task OnInitializedAsync()
    {
        if (_httpContext.User.Identity.IsAuthenticated)
        {
            await _httpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
            _navigationManager.NavigateTo("/");
        }
    }
}
